*{
    box-sizing: border-box;
    border:0;
    margin:0;
}

body{
    width: 100%;
    height: auto;
    color: #484848;
    background: white;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color:#484848;
}

.header{
    text-align: left;
    line-height: 56px;
    padding: 1%;
    margin-bottom: 4%;
}


.header h1{
    color:#F45D4C;
}

.header p{
    font-size: 3em;
    color: #484848;
}

/* menu */

nav{
    background: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
nav .brand-logo,
nav ul a{
    color: #484848;
}

nav ul a:hover{
    border-bottom: 1px solid #A1DBB2;
    background: none;
}


nav .nav-wrapper{
    padding: 0 10px;
}

nav .button-collapse{
    color:#A1DBB2;
}

/* cajas */

section article h2{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    color:#F45D4C;
}



/* footer */

.page-footer{
    background: none;
    color:#484848;
    padding-top: 10px;
}

.page-footer .footer-copyright{
    color:#484848;
    padding: 5px;
}

h5{
    font-weight: bold;
}

section.row{
    margin-bottom: 5%;
}

div.social{
    margin-bottom: 8%;
}

.row{
    margin-bottom: 0;
}

div.social nav{
    color:#484848;
}


@media (min-width: 1px) and (max-width: 767px){
    .header h1{font-size: 3rem;}
    .header p{font-size: 2em; line-height: 1.5em;}
    section.row article{margin-bottom: 20px;}
    .waves-effect{ margin-top: 5%;}
}


