*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: auto;
    background: url("../images/bg-body.png") repeat;
}

.container{
    margin: 0 auto;
    text-align: center;
    padding: 0 4%;
}

nav {
    margin-bottom: 20px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li{
    background: black;
    width: 100%;
    margin-bottom: 1%;
    padding: 10px 0;
}

nav ul li a{
    color:white;
    width: 100%;
}

header img{
    width: 180px;
    border:1px solid black;
    border-radius: 100px;
    margin: 15px 0 30px 0;
}

section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section img{
    max-width: 100%;
    height: auto;
}

header a.toggle-nav{
    background: url('../images/activity-feed-512.gif');
    width: 80px;
    height: 80px;
    display:block;
    background-size: 80px;
    margin: 0 auto 10px auto;
}

section.vip-products{
    text-align: left;
}

section.vip-products article{
    margin-bottom:30px;
}

article img{
    width: 100%;
    height: auto;
}

section.banner{
    margin-bottom: 30px;
}

h2{
    margin: 5px 0 10px 0;
}

p{
    margin-bottom: 20px;
    line-height: 20px;
}

section article a{
    background: black;
    color:white;
    width: 50px;
    height: 20px;
    padding: 5px 10px;
}

footer ul{
    background: #a30404;
}

footer ul li{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1%;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

footer ul li a{
    color:gainsboro;
}

@media (min-width: 767px) and (max-width: 1023px){
    header a.toggle-nav{display: none;}
    nav ul li{width: 16%; text-align: center;}
    nav {text-align: left;}
    section{flex-direction:row; justify-content: space-between;}
    section.vip-products article{width: 48%;}
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .container{padding: 0 1%;}
    section img{width: 100%;}
    header a.toggle-nav{display: none;}
    nav ul li{flex-basis: 180px; text-align: center;}
    nav {text-align: left;}
    section{flex-direction:row; justify-content: space-between;}
    section.vip-products article{width: 32%;}
    footer ul li{width: 8%; border-bottom: 0; border-right: 1px solid gainsboro; font-size: 12px;}
    footer ul{border-radius: 10px 10px 0 0; height: 70px; padding-top: 2%;}
}