*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    font-size: 16px;
}

body{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    background-color:yellow;
    border:darkkhaki;
    height: 20vh;
}

h2{
    font-size:1.75em;
}

p{
    font-size: 0.8125em;
}

.container{
    max-width:1200px;
    border:1px solid grey;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
}

.container article:nth-child(1){
    width: 20.833333333%;
    border:1px solid darkred;
    background-color:red;
}

.container article:nth-child(2){
    width: 66.666666667%;
    border:1px solid darkblue;
    background-color:blue;
    margin: 0 2.083333333%;
}

.container article:nth-child(3){
    width: 8.333333333%;
    border: 1px solid darkmagenta;
    background-color:magenta;
}


@media (min-width: 451px) and (max-width: 900px){
    .container{width: 95%; margin: 0 20px; flex-wrap: wrap;}
    .container article:nth-child(1){width: 40%;}
    .container article:nth-child(2){width: 55%; margin:0;}
    .container article:nth-child(3){width: 100%; display:block;}
}

@media (min-width: 1px) and (max-width: 450px){
    .container{flex-wrap: wrap;}
    .container article:nth-child(1),
    .container article:nth-child(2),
    .container article:nth-child(3){width: 100%;}
    .container{font-size:20.8px}
}