nav .button-collapse-cart{
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

figure{
    text-align: center;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    width: 100%;
}